# Environment Variables
.env
.venv
venv/
env/
.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/
chroma_db/
qdrant_db/
agent_debug.log
message_dump.txt
debug_*.py
list_models.py
